<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
</head>
<body>
    <nav></nav>
    <header></header>
    <section id='store-container'>
        <span>Welcome to</span>
        <h1>THE STORE</h1>
        <ul id='product-list'>
            <% products.forEach( (p, i) => { %>
                <section class="card">
                    <a href="/product/<%=i %>">
                    <img alt="<%=p.name %>" src="<%=p.img %>" height="100px">
                    <p><%=p.name %></p>
                    </a>
                </section>
            <% }) %>
        </ul>
    </section>
</body>
</html>