<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include ("./partials/nav.ejs") %>
    </nav>
    <header></header>
    <section id='store-container'>
        <span>Welcome to</span>
        <h1>THE STORE</h1>
        <ul id='product-list'>
            <% products.forEach( (p, i) => { %>
                <section class="card">
                    <a href="/<%=p.id %>">
                    <img alt="<%=p.name %>" src="<%=p.img %>" height="100px">
                    <p><%=p.name %></p>
                    </a>
                    <form action="/<%=p.id %>/edit">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/<%=p.id %>/?_method=DELETE" method=POST>
                        <button type="submit">Delete</button>
                    </form>
                </section>
            <% }) %>
        </ul>
    </section>
</body>
</html>