<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include ("./partials/nav.ejs") %>
    </nav>
    <header></header>
    <section id='log-entry'>

        <h1><%=log.title %></h1>
        <p><%=log.entry %></p>
        <p>Was the ship broken at the time?</p>
        <% if (log.isShipBroken) { %>
                <span>yes</span>
            <% } else { %>
                <span>no</span>
        <%}%>
        <!-- <form action="/<%=//product.id %>/edit">
            <button type="submit">Edit</button>
        </form>
        <form action="/<%=//product.id %>/?_method=DELETE" method=POST>
            <button type="submit">Delete</button>
        </form> -->
    </section>
</body>
</html>